.outer{
    background-color: rgba(67, 95, 195, 0.658);
    width: 25rem;    
    height: 20rem;
    color: white; 
    border-radius: 10px;
    align-items: center;
    padding: 20px;
}

.outer img{
    border-radius: 40px;
    margin-left: 6rem;
    padding-top: 5px;    
}

.outer div{
    margin-left: 1rem;
    margin-top: 2rem;
}

nav{
    margin: 2rem;
    background-color: rgb(172, 219, 70);
    height: 4rem;
    border-radius: 15px;   
    max-width: 260%;
}

.li{
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-top: 0.5rem;
    margin: 2%;    
  }

.new{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.button{    
 height: 50px;
 width: 130px;
border-radius: 10px;
align-items: center;
margin: auto;
cursor: pointer;
border: 2px solid #f30b1a;
background-color: transparent;
color: #f30b1a; 
  
}

.button:hover{
    background-color: rgb(247, 55, 55);
    color: aliceblue;
}

